# Editors
/.vscode

# Dependency directory
/node_modules

# Ignore built ts files
# dist/**/*

# OS metadata
.DS_Store

# Test
.nyc_output
/coverage

# an unneccessary compiled file
/dist/src/interfaces.js
